body {
  font-size: 16px;
}

* {
  font-size: 1rem;
}

.material-icons {
  font-size: 1rem;
}

button {
  margin-top: 7px !important;
}

button .material-icons {
  font-size: 1.45rem;
}

.mdl-progress .bar {
  border-radius: 7px;
}

.mdl-progress {
  height: 15px;
}

#addHomeScreen {
  color: white;
  background-color: rgb(63,81,181);
  padding: 10px 20px;
  display: none; 
  position: fixed; 
  bottom: 0;
  width: 100%;
  left: 0;
  z-index: 2000;
}

.mdl-layout__header-row {
  padding: 0 20px 0 20px;
}
