body {
  font-size: 16px;
}

* {
  font-size: 1rem;
}

.material-icons {
  font-size: 1rem;
}

button .material-icons {
  font-size: 1.45rem;
}

.mdl-progress .bar {
  border-radius: 7px;
}

.mdl-progress {
  height: 15px;
}
